@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Valentino";
  src: url("../app/fonts/NTVALENTINO.otf");
}
@font-face {
  font-family: "ValentinoItalic";
  src: url("../app/fonts/VALENTINOItalic.otf");
}

:root {

  --max-widht: 1270px;

  --background: #ffffff;
  --foreground: #171717;
  --primary-500: #424242;
}

@media (prefers-color-scheme: dark) {

  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-500: #424242;
    --primary-600: #222222;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

