@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Valentino";
  src: url("../app/fonts/NTVALENTINO.otf");
}
@font-face {
  font-family: "ValentinoItalic";
  src: url("../app/fonts/VALENTINOItalic.otf");
}

/* :root {

  --max-widht: 1270px;

  --background: #ffffff;
  --foreground: #171717;
  --primary-500: #424242;
} */


/* TODO */
/* WE NEED TO DEFINE A GLOBAL WAY TO DECLARE MAX WIDTH IN THE WHOLE PAGE */

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  /* overflow-x: hidden; */
}




