@tailwind base;
@tailwind components;
@tailwind utilities;

@import './font-face-helvetica.css';

@layer base {
    .keep-color-scheme img {
        filter: none;
    }
    :root,
    .keep-color-scheme {
        /* --- colors --- */
        /* base */
        --notte-200: #424242;
        --background: #0a0a0a;
        --foreground: #ededed;
        --primary-500: #424242;
        --primary-600: #222222;
        --notte-200: #090c0f;
    }


    /* for an eventual darkmode */
    .dark {
        --background: #0a0a0a;
        --foreground: #ededed;
        --primary-500: #a34a4a;
        --primary-600: #460b0b;
        --notte-200: #18497a;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .centered {
        width: 1000px;
        color: grey;
    }
}

/* * {
    outline: 1px dashed black;
} */
